footer{
    display: flex;
    padding: 50px 50px;
    background-color: #1E1E1E;
    justify-content: space-between;

   .footerSection{
       margin-right: 50px;
       width: 100%;
       p{
        color: $white;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 300;
        border-bottom: 1px solid #494949;
        padding-bottom: 20px;
        @media(max-width:$lg){
            margin-top: 30px;
        }
       }
       ol{
           list-style: none;
           li{
               margin-top: 20px;
               a{
                   text-decoration: none;
                   color: #8d8d8d;
                   &:hover{
                       color: $white;
                   }
               }
           }
       }
       @media(max-width: $lg){
           width: 40%;
           margin: 0;
       }
       @media(max-width: $md){
            width: 40%;
            margin: 0;
        }
        @media(max-width: $sm){
            width: 100%;
            margin-bottom: 50px;
        }
   }
   @media(max-width: $lg){
        padding: 50px 10%;
        flex-wrap: wrap;
   }
   @media(max-width: $md){
        padding: 0 10px;
        text-align: center;
    }
    @media(max-width: $sm){
        text-align: center;
    }
}